body{
    background: #4acc99!important;
}

#video{
    position: fixed!important;
    opacity: 0;
}

.m-footer{
    background: #ffff!important;
}

.m-body{
    background: #4acc99!important;
}

.m-subheader__title{
    color: #ffff!important;
}

.m-widget26__number{
    font-size: 25px!important;
}

.namaPT{
    font-size: 20px!important;
}

.desc{
    font-size: 18px!important;
}

.time{
    font-size: 12px!important;
}

#canvas{
    width: 640px!important;
    height: 480px!important;
}


.type-login:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px!important;
}

.card-kriteria{
    -webkit-animation-name: shadow; 
    -webkit-animation-duration: 4s; 
    animation-name: shadow;
    animation-duration: 2s;
    
}

.card-fixed{
    position: fixed!important;
    width: 410px!important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    top: 120px;
}

.card-shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@-webkit-keyframes shadow {
    from {
        box-shadow: 0;
    }
    to {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
}

@keyframes shadow {
    from {
        box-shadow: 0;
    }
    to {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
}

.cardSlide{
    position: fixed!important;
    width: 415px!important;
    -webkit-animation-name: cardSlowdown; 
    -webkit-animation-duration: 2s; 
    animation-name: cardSlowdown;
    animation-duration: 2s;
    
}

@-webkit-keyframes cardSlowdown {
    from {
        box-shadow: 0;
    }
    to {
        transform: translate(200%, 0%)
    }
}

@keyframes cardSlowdown {
    from {
        box-shadow: 0;
    }
    to {
        transform: translate(200%, 0%)
    }
}
